DJANGO_DEBUG=True

DB_NAME_DEFAULT=
DB_NAME_DEMO=
DB_NAME_MAIN=
DB_NAME_MSSQL1=
DB_NAME_APP=
DB_NAME_DEMO1=
DB_NAME_TEST=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=1433
DB_DRIVER=ODBC Driver 17 for SQL Server
