<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.webServer>

    <!-- =========================================================
         MODULES
         ========================================================= -->
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>


    <!-- =========================================================
         REQUEST FILTERING
         ========================================================= -->
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="PATCH" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>


    <!-- =========================================================
         HANDLERS
         Django application is handled by wfastcgi
         ========================================================= -->
    <handlers>

      <remove name="WebDAV" />

      <add name="PythonHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\Dhana\HF_API_Backend\venv\Scripts\python.exe|D:\Dhana\HF_API_Backend\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />

    </handlers>


    <!-- =========================================================
         STATIC CONTENT MIME TYPES
         ========================================================= -->
    <staticContent>

      <remove fileExtension=".css" />
      <remove fileExtension=".js" />
      <remove fileExtension=".png" />
      <remove fileExtension=".jpg" />
      <remove fileExtension=".jpeg" />
      <remove fileExtension=".gif" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".ico" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />

      <mimeMap fileExtension=".css"
               mimeType="text/css" />

      <mimeMap fileExtension=".js"
               mimeType="application/javascript" />

      <mimeMap fileExtension=".png"
               mimeType="image/png" />

      <mimeMap fileExtension=".jpg"
               mimeType="image/jpeg" />

      <mimeMap fileExtension=".jpeg"
               mimeType="image/jpeg" />

      <mimeMap fileExtension=".gif"
               mimeType="image/gif" />

      <mimeMap fileExtension=".svg"
               mimeType="image/svg+xml" />

      <mimeMap fileExtension=".ico"
               mimeType="image/x-icon" />

      <mimeMap fileExtension=".woff"
               mimeType="font/woff" />

      <mimeMap fileExtension=".woff2"
               mimeType="font/woff2" />

    </staticContent>


    <!-- =========================================================
         DIRECTORY BROWSING
         ========================================================= -->
    <directoryBrowse enabled="false" />


    <!-- =========================================================
         DEFAULT DOCUMENT
         ========================================================= -->
    <defaultDocument>
      <files>
        <clear />
      </files>
    </defaultDocument>


    <!-- =========================================================
         URL REWRITE
         Only WebSocket requests are proxied.
         Django requests are handled directly by PythonHandler.
         ========================================================= -->
    <rewrite>

      <rules>

        <rule name="WebSocketProxyAll"
              stopProcessing="true">

          <match url="^ws/(.*)" />

          <action type="Rewrite"
                  url="http://10.1.21.154:8001/ws/{R:1}" />

        </rule>

      </rules>

    </rewrite>

  </system.webServer>


  <!-- =========================================================
       DJANGO / WFASTCGI SETTINGS
       ========================================================= -->
  <appSettings>

    <add key="WSGI_HANDLER"
         value="backend.wsgi.application" />

    <add key="DJANGO_SETTINGS_MODULE"
         value="backend.settings" />

    <add key="PYTHONPATH"
         value="D:\Dhana\HF_API_Backend" />

    <add key="WSGI_LOG"
         value="D:\Hfapi_back_logs\wfastcgi.log" />

  </appSettings>

</configuration>
